@model Cliente
@{
    ViewData["Title"] = "UpdateCustomer";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Modificación cliente: </h2>
            <form asp-action="UpdateCustomer" asp-controller="Home" method="post">

                <input asp-for="IdCliente" type="hidden" class="form-control">

                @if (Model.Genero != null)
                {
                    <div class="form-group">
                        <label for="fecha">Genero: @Model.Genero</label>
                    </div>
                }

                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresar nombre">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="email">Apellido:</label>
                    <input asp-for="Apellido" type="text" class="form-control" placeholder="Ingresar Apellido">
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="email">Apellido:</label>
                    <input asp-for="DocumentoIdentificacion" type="text" class="form-control" placeholder="Ingresar DNI/NIE">
                    <span asp-validation-for="DocumentoIdentificacion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Ingresar email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="email">Telefono:</label>
                    <input asp-for="Telefono" type="text" class="form-control" placeholder="Ingresar telefono">
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="email">Pais residencia</label>
                    <input asp-for="PaisResidencia" type="text" class="form-control" placeholder="Pais residencia">
                    <span asp-validation-for="PaisResidencia" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="fecha">Fecha nacimiento</label>
                    <input asp-for="FechaNacimiento" type="date" class="form-control" placeholder="Fecha de nacimiento">
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>

                @if (Model.CuentaTwitter != null)
                {
                    <div class="form-group">
                        <label for="fecha">Cuenta twitter:</label>
                        <input asp-for="CuentaTwitter" type="text" class="form-control" placeholder="Cuenta twitter">
                    </div>
                }

                @if (Model.NombreEmpresa != null)
                {
                    <div class="form-group">
                        <label for="fecha">Nombre Empresa</label>
                        <input asp-for="NombreEmpresa" type="text" class="form-control" placeholder="Nombre empresa">
                    </div>
                }
                @if (Model.ClienteInteres != null && Model.ClienteInteres.SelectedOptions.Count > 0)
                {
                    <div class="form-group">
                        <label for="seleccionInteres">Si lo desea, seleccionar los intereses:</label>
                        <select class="form-select" asp-for="ClienteInteres.SelectedOptions" asp-items="@(new SelectList(Model.ClienteInteres.Intereses, nameof(Interes.IdInteres), nameof(Interes.Descripcion)))" multiple="multiple"></select>
                    </div>
                }
                <br />

                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Volver a la lista</a>
            </form>

        </div>
    </div>
</div>


